.dash-card {
	margin-top: 2rem;
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
	padding: 1rem;

	&__value {
		margin-bottom: 1rem;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		button {
			background-color: #CC555F !important;
			i {
				color: white;
				margin: 0px !important;
			}
		}
	}

	h3, h4 {
		margin: 0px !important;
	}
}
