#__next {
  position: relative;
  overflow-x: hidden;
}
.menu-mobile-hide {
  right: -80vw !important;
  transition: right 1s;
  transition-timing-function: ease-out;
}
body {
  overflow-x: hidden;
}
.menu-mobile {
  position: absolute;
  top: 0px;
  background-color: white;
  right: -10px;
  width: 80%;
  height: 100vh;
  z-index: 99;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  transition: right 1s;
  transition-timing-function: ease-out;
  -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  &__actions {
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    width: 100% !important;
  }
}
