.footer-just {
    background-color:  #2b2e32;
    padding-top: 25px !important;
    color: white;

    .grid {
        padding: 50px 10px 50px;

        p {
            font-size: 14px;
            margin: 0px !important;
            margin-bottom: 5px !important;
        }
    }
    .derechos-archicercle {
        padding: 15px 10px 15px !important;
        
        div {
            display: flex !important;
            justify-content: center !important;
        }
        img {
            width: 322px !important;
        }
    }
}








